@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root {
    /* Primary */
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    --FontHeading: 'Poppins', sans-serif;
    --FontBody: 'Open Sans', sans-serif;
}
html {
    font-size: 62.5%; /* 1 rem = 10 px */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Violet);
}

@media only screen and (min-width: 1440px) { 
    body {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    background-color: white;
    color: var(--Violet);
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--FontBody);
    padding: 1.2rem;
    display: block;
    border-radius: 2.5rem;
}

.header {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.logo {
    width: 45%;
}

@media only screen and (min-width: 1440px) { 
    .logo {
        width: 20%;
    }
}

.content {
    margin-bottom: 6rem;
}

@media only screen and (min-width: 1440px) {     
    .content {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }
}

.content-image {
    margin-bottom: 6rem;    
}

@media only screen and (min-width: 1440px) {     
    .content-image {
        margin-bottom: 0; 
    }
}

.grid-image {
    width: 100%;
}

@media only screen and (min-width: 1440px) {     
    .main-content {
        margin-top: 2.5rem; 
    }
}


.content-title {
    font-family: var(--FontHeading);
    color: white;
    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
}

@media only screen and (min-width: 1440px) {     
    .content-title {
        text-align: start;
        width: 45%;
    }
}

.content-text {
    font-family: var(--FontBody);
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1440px) {     
    .content-text {
        text-align: start;
        width: 70%;
    }
}

.content-link {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 1440px) {     
    .content-link {
        width: 25%;
        margin: 0;
    }
}